{% extends 'magentadriftinfo/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class=container>
    <div class="jumbotron">
        <h3>Nuværende driftforstyrelser</h3>
        <hr class="my-4">
        {% include 'magentadriftinfo/detail_list.html' with qs=active_qs id="current"%}
        <hr class="my-4">
        <h3>Planlagte driftforstyrrelser</h3>
        <hr class="my-4">
        {% include 'magentadriftinfo/detail_list.html' with qs=future_qs id="planned"%}
        <hr class="my-4">
        <h3>Tidligere driftforstyrrelser</h3>
        <hr class="my-4">
        <div class="collapse" id="oldEvents">
            {% include 'magentadriftinfo/detail_list.html' with qs=former_qs id="old"%}
        </div>
        <p><button class="btn btn-link"
                   type="button"
                   data-toggle="collapse"
                   data-target="#oldEvents"
                   aria-expanded="false"
                   aria-controls="oldEvents">
            Se tidligere driftforstyrrelser
        </button></p>
    </div>
</div>
{% endblock %}